.register-form {
    margin: 20px auto;
    width: 40%;
    line-height: 42px;
}

.register-form-title {
    font-weight: 600;
    font-size: 24px;
}

.register-form-description {
    font-style: italic;
}

.bold-text {
    display: inline-block;
    font-weight: 600;
}

.form-items {
    line-height: 30px !important;
    margin: 10px 0;
}

.form-label {
    font-weight: 600;
    display: block;
}

.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 0.5px solid #000;
}